.pragmatic_header_logo {
    margin: 2rem 0; font-family: 'Quicksand', sans-serif;
}

.pragmatic_footer_logo {
    margin: 2rem 0;
    font-family: 'Quicksand', sans-serif;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_button {
    margin-top: 2rem
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.m-auto {

}